.page-footer.advanced-search .page-footer__country {
    padding: 15px 60px;
}

.page-footer.advanced-search .page-footer__info__privacy-settings {
    justify-content: flex-start;
}

.page-footer.advanced-search .page-footer__info__privacy-settings ul {
    margin: 0 0 0 45px;
}

/*
form
*/

form.advanced-search {
    width: 81%;
    height: 300px;
    margin: 0 0 0 60px;
}

form.advanced-search,
form.advanced-search fieldset,
form.advanced-search fieldset label {
    border: none;
}

form.advanced-search fieldset {
    padding: 0 0 23px 0;
    border-bottom:1px solid #ebebeb;
}

form.advanced-search fieldset:nth-child(2) {
    margin: 25px 0 0 0;
}

legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form.advanced-search fieldset legend .legend_title {
    color: #333;
    font-size: 1.6rem;
    width: 17%;
    padding: 0 0 15px 0;
}

form.advanced-search fieldset legend span.title_info-col {
    width: 33%;
    color: #777;
    font-size: 1.3rem;
    font-weight: bold;
}

.fieldset-row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 11px 0;
}

.fieldset-row label {
    width: 170px;
}

.fieldset-row .searchfield-description {
    width: 33%;
}

.fieldset-row input,
.fieldset-row select {
    width: 47%;
    height: 25px;
    border: 1px solid #d9d9d9;
}

.fieldset-row select {
    appearance: none;
    background-color: transparent;
    outline: none;
}
select::-ms-expand {
    display: none;
  }
  

.fieldset-row label,
.fieldset-row .searchfield-description {
    color: #222;
    font-size: 1.3rem;
    height: 25px;
    line-height: 2.5rem;  
    vertical-align: middle;
}

.fieldset-row .searchfield-description {
    font-size: 1.1rem;
    line-height: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fieldset-row .searchfield-description span {
    font-family: monospace;
}

.several-input-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
}




@media only screen and (max-width: 1024px) {

    form.advanced-search {
        padding: 0;
        width: calc(100% - 120px);
    }

    form.advanced-search fieldset legend .legend_title,
    .fieldset-row label  {
        width: 170px;
    }


    .fieldset-row .searchfield-description,
    form.advanced-search fieldset legend span.title_info-col  {
        display: none;
    }

    .fieldset-row {
        justify-content: flex-start;
    }

    .fieldset-row input,
    .fieldset-row select,
    .several-input-fields {
        width: calc(100% - 170px);
    }

    .several-input-fields input {
        width: 45%;
    }
}