.page-footer.advanced-search .page-footer__country {
    padding: 15px 60px;
}

.page-footer.advanced-search .page-footer__info__privacy-settings {
    justify-content: flex-start;
}

.page-footer.advanced-search .page-footer__info__privacy-settings ul {
    margin: 0 0 0 45px;
}

/*
form
*/

form.advanced-search {
    width: 75%;
    height: 300px;
    margin: 0 0 0 60px;
    background-color: orange;
}

form.advanced-search,
form.advanced-search fieldset,
form.advanced-search fieldset label {
    border: none;
}

form.advanced-search fieldset legend {
    color: #333;
    font-size: 1.6rem;
    width: 17%;
    background-color: skyblue;
}

@media only screen and (max-width: 1024px) {

    form.advanced-search {
        padding: 0;
        width: calc(100% - 120px);
    }

    form.advanced-search fieldset legend  {
        width: 35%;
        max-width: 167px;
        background-color: skyblue;
    }
}