.page-footer.advanced-search .page-footer__country {
    padding: 15px 60px;
}

.page-footer.advanced-search .page-footer__info__privacy-settings {
    justify-content: flex-start;
}

.page-footer.advanced-search .page-footer__info__privacy-settings ul {
    margin: 0 0 0 45px;
}

/*
form
*/

form.advanced-search {
    width: 75%;
    height: 300px;
    margin: 0 0 0 60px;
    background-color: orange;
}

form.advanced-search,
form.advanced-search fieldset,
form.advanced-search fieldset label {
    border: none;
}

form.advanced-search fieldset legend {
    color: #333;
    font-size: 1.6rem;
    width: 19%;
    background-color: skyblue;
}