@use './vars' as var;

/*
FORM MAIN SEARCH
*/

form.google-search__main-search {
    width: 90%;
    max-width: 584px;

    fieldset {
        max-width: 584px;
        height: 48px;
        display: flex; 
        justify-content: center;
        border: none; 
    }

    fieldset.main-search-input {
        border-radius: var.$search-border-radius;
        border: 1px solid var.$border-color;

       &:hover,
       &:focus {
            box-shadow:0 1px 6px rgba(32,33,36,.28);
        }
    }


    textarea {
        border: none;
        display: flex;
        resize: none;
        color: rgba(0,0,0,.87);
        word-wrap: break-word;
        outline: none;
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-family: Arial, sans-serif;
        background-color: transparent;
        width: 100%;
        vertical-align: middle;
        overflow-y: hidden;
        padding: 13px;
    }

    .center-container {
        margin: 18px 0 0 0;
        width: auto;
        display: flex;
        justify-content: space-between;
    }


    input.start-search {
        border-radius: var.$button-border-radius;
        padding: 5px 16px;
        margin: 11px 4px;
        min-width: 54px;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        border: 2px solid var.$light-theme_button-light-color;
    }

    input.start-search:hover,
    input.start-search:focus {
        border: 2px solid var.$light-theme_button-light-border;
    }

}

.icon-search {
    fill: #9aa0a6;
    width: 30px;
    height: 30px;
    margin: 14px 0 0 12px;
}

.icon-camera,
.icon-microphone {
    margin: 10px 14px 0 0;
    width: 32px;
    height: 32px;
}


/* 
ADVANCED SEARCH
*/