@use './vars' as var;

.search-results .page-container {
    justify-content: flex-start;
}

/*  PAGE HEADER */
.search-results .page-header {
    flex-direction: column;
    justify-content: flex-start;
    padding: 21px;
    border-bottom: 1px solid var.$border-color;
}


.search-results .search-and-settings {
    display: flex;
    height: 52px;

    &__google-logo {
        width: 92px;
        height: 30px;
        align-self: center;

        img {
            width: 92px;
            height: auto;           
        }
    }

    &__google-search {
        flex: 1;
        padding:  0 0 0 37px;

        form.google-search__main-search {
           align-self: center;
           
           fieldset {
            box-shadow:0 1px 6px rgba(32,33,36,.28);
           }
        }
    }

    &__google-account {
        align-self: center;
    }

}

.filter-search-results {
    height: auto;
    margin: 19px 0 0 0;
    padding: 0 0 0 129px;
    display: flex;
    flex-wrap: wrap;
}

.filter {
    border-radius: 24px;
    padding:10px 14px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    border: 1px solid #dadce0;
    margin: 0 7px 0 0;
}

.filter p {
    align-self: center;
    white-space: nowrap;
}

.filter p a,
.filter p a:link,
.filter p a:active,
.filter p a:visited,
.filter p a:hover,
.filter p a:focus {
    text-decoration: none;
}

.filter:hover,
.filter:focus {
    background-color: var.$light-theme_background-color-contrast;
}

/* PAGE BODY */
.page-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.search-results-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
    height: 6rem;
    margin: 19px 0 0 0;
    padding: 0 0 0 142px;
    color: var.$light-theme_text-on-contrast-background;
}

.search-results-info p.search-results-info__area::before {
    content: '●';
    padding: 0 7px 0 0;
    color: var.$light-theme_button_google-account;
}

.search-results-info p strong {
    color: var.$light-theme_text-general;
}

.search-results-info p a {
    color: var.$text_color_link;
}

.search-results-info p a,
.search-results-info p a:link,
.search-results-info p a:hover,
.search-results-info p a:active,
.search-results-info p a:visited {
    text-decoration: none;
}

.search-results-info p a:hover,
.search-results-info p a:focus {
    text-decoration: underline;
}

.search-results-container {
    width: calc(100% - 143px);
    margin: 29px 0 0 143px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    main {
        width: 50%;
    }

    aside {
        width: 40%;
    }
}

.search-results-container--top-result {
    header {
        color: var.$light-theme_text-general;
        display: flex;
        flex-direction: row;

        .search-results-container--top-result--favicon {
            border: 1px solid var.$light-theme_button-light-border;
            height: 31px;
            width: 37px;
            border-radius: 37px;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 29px;
                height: 29px;
            }
        }

        h1 {
            margin: 0 0 0 11px;
            font-size: 1.4rem;
            font-weight: normal;

            span {
                font-size: 1.2rem;
            }

            span a,
            span a:link,
            span a:active,
            span a:visited,
            span a:active,
            span a:hover,
            span a:focus {
                color: var.$light-theme_text-general;
                text-decoration: none;
                font-weight: normal;
            }

        }
    }
}

.top-result {    
    margin: 7px 0 0 0;
    &__title {
        font-size: 2rem;
        margin: 0 0 3px 0;        

        a,
        a:visited,
        a:active {
            text-decoration: none;
            color: var.$text_color_link
        }

        :hover,
        :focus {
            text-decoration: underline;
            color: var.$text_color_link
        }
    }

    &__subtitle {
        font-size: 1.4rem;
        line-height: 1.9rem;
        color: #4d5156;
    }

    dd {
        margin: 19px 0 0 0;
        padding: 0 0 0 13px;
    }

    form {
        width: 100%;

        fieldset {
            border: 1px solid #d9d9d9;
            height: 2.7rem;
            border-radius: 7px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            label {
                font-size: 1.2rem;
                line-height: 2.7rem;
                margin: 0 0 0 7px;
                color: #4d5156;
            }

            button.search-in-results {
                background-image: url(assets/images/icon_search.svg);
                background-repeat: no-repeat;
                background-size: 2rem 2rem;
                background-position: center center;
                width: 6rem;
                height: 2.6rem;
                border-left: 1px solid #d9d9d9;
                border-right: none;
                border-top: none;
                border-bottom: none;
                background-color: white;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;

                span {
                    display: none;
                }
            }

            button.search-in-results:hover,
            button.search-in-results:focus {
                background-color: #d9d9d9;
                cursor: pointer;
            }
        }

    }
}



@media only screen and (max-width: 1024px)  {

    .search-results .search-and-settings {
        display: grid;
        height: 151px;
        grid-template-columns: repeat(2, 1fr, 3fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "logo account account account"
        "search search search search";
    }
    
    .search-results  .search-and-settings__google-logo {
            grid-area: logo;
            order: 1;

    }

    .search-results .search-and-settings__google-account {
            grid-area: account;
            order: 2;

            ul li:last-of-type {
                padding-right: 0;
            }
    }       

    .search-results .search-and-settings__google-search {
        grid-area: search;
        display: flex;
        order: 3;
        padding: 0;
        margin: 19px 0 0 0;

        form.google-search__main-search {
            padding: 0;
            align-self: flex-start;
            width: 100%;

            fieldset {
                justify-content: flex-start;
            }
        }        
    }

    .filter-search-results {
        padding: 0;
        overflow: visible;
    }

    .filter {
        margin-bottom: 7px;
    }

    .search-results-info {
        padding: 0 0 0 21px;
    }    
    
    .search-results-container  {
        flex-direction: column;
        margin: 0;
        padding: 29px 0 0 21px;

        main,
        aside {
            width: 100%;
        }

        aside {
            margin: 37px 0 0 0;
        }
    }
}

/* PAGE MAIN */

/* PAGE FOOTER */