@use './vars' as var;

.search-results .page-container {
    justify-content: flex-start;
}

/*  PAGE HEADER */
.search-results .page-header {
    flex-direction: column;
    justify-content: flex-start;
    padding: 21px;
    border-bottom: 1px solid var.$border-color;
}


.search-results .search-and-settings {
    display: flex;
    height: 52px;

    &__google-logo {
        width: 92px;
        height: 30px;
        align-self: center;

        img {
            width: 92px;
            height: auto;           
        }
    }

    &__google-search {
        flex: 1;
        padding:  0 0 0 37px;

        form.google-search__main-search {
           align-self: center;
           
           fieldset {
            box-shadow:0 1px 6px rgba(32,33,36,.28);
           }
        }
    }

    &__google-account {
        align-self: center;
    }

}

.filter-search-results {
    height: auto;
    margin: 19px 0 0 0;
    padding: 0 0 0 129px;
    display: flex;
    flex-wrap: wrap;
}

.filter {
    border-radius: 24px;
    padding:10px 14px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    border: 1px solid #dadce0;
    margin: 0 7px 0 0;
}

.filter p {
    align-self: center;
    white-space: nowrap;
}

.filter p a,
.filter p a:link,
.filter p a:active,
.filter p a:visited,
.filter p a:hover,
.filter p a:focus {
    text-decoration: none;
}

.filter:hover,
.filter:focus {
    background-color: var.$light-theme_background-color-contrast;
}

/* PAGE BODY */
.page-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.search-results-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
    height: 6rem;
    margin: 19px 0 0 0;
    padding: 0 0 0 142px;
    color: var.$light-theme_text-on-contrast-background;
}

.search-results-info p.search-results-info__area::before {
    content: '●';
    padding: 0 7px 0 0;
    color: var.$light-theme_button_google-account;
}

.search-results-info p strong {
    color: var.$light-theme_text-general;
}

.search-results-info p a {
    color: var.$text_color_link;
}

.search-results-info p a,
.search-results-info p a:link,
.search-results-info p a:hover,
.search-results-info p a:active,
.search-results-info p a:visited {
    text-decoration: none;
}

.search-results-info p a:hover,
.search-results-info p a:focus {
    text-decoration: underline;
}

.search-results-container {
    width: calc(100% - 143px);
    margin: 29px 0 0 143px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    main {
        width: 50%;
    }

    aside {
        width: 40%;
    }
}

/* PAGE MAIN */

.search-results-container--top-result {
    header {
        color: var.$light-theme_text-general;
        display: flex;
        flex-direction: row;

        .search-results-container--top-result--favicon {
            border: 1px solid var.$light-theme_button-light-border;
            height: 31px;
            width: 37px;
            border-radius: 37px;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 29px;
                height: 29px;
            }
        }

        h1 {
            margin: 0 0 0 11px;
            font-size: 1.4rem;
            font-weight: normal;

            span {
                font-size: 1.2rem;
            }

            span a,
            span a:link,
            span a:active,
            span a:visited,
            span a:active,
            span a:hover,
            span a:focus {
                color: var.$light-theme_text-general;
                text-decoration: none;
                font-weight: normal;
            }

        }
    }
}

.top-result {    
    margin: 7px 0 0 0;
    &__title {
        font-size: 2rem;
        margin: 0 0 3px 0;        

        a,
        a:visited,
        a:active {
            text-decoration: none;
            color: var.$text_color_link
        }

        :hover,
        :focus {
            text-decoration: underline;
            color: var.$text_color_link
        }
    }

    &__subtitle {
        font-size: 1.4rem;
        line-height: 1.9rem;
        color: #4d5156;
    }

    dd {
        margin: 19px 0 0 0;
        padding: 0 0 0 13px;
    }

    form {
        width: 100%;

        fieldset {
            border: 1px solid #d9d9d9;
            height: 2.7rem;
            border-radius: 7px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            label {
                font-size: 1.2rem;
                line-height: 2.7rem;
                margin: 0 0 0 7px;
                color: #4d5156;
            }

            input[type=text] {
                width: 75%;
                line-height: 2.55rem;
                border: none;
                margin: 0 0 0 7px;
            }

            input[type=text]:focus {
                border: none;
                background: none;
                outline: none;
            }

            button.search-in-results {
                background-image: url(assets/images/icon_search.svg);
                background-repeat: no-repeat;
                background-size: 2rem 2rem;
                background-position: center center;
                width: 6rem;
                height: 2.6rem;
                border-left: 1px solid #d9d9d9;
                border-right: none;
                border-top: none;
                border-bottom: none;
                background-color: white;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;

                span {
                    display: none;
                }
            }

            button.search-in-results:hover,
            button.search-in-results:focus {
                background-color: #d9d9d9;
                cursor: pointer;
            }
        }
    }
}

.search-results-container--people-asked {
    
    margin: 57px 0 57px 0;
    
    dl { 
        width: 100%;
    }

    dt {
        color: #202124;
        font-size: 2.2rem;
        margin: 0 0 10px 0;
    }

    dd {
        padding: 15px 0 15px 0;
        width: 100%;
        border-bottom: 1px solid #d9d9d9;
    }


    .question {
        font-size: 1.6rem;
        color: #4d5156;
        cursor: pointer;
    }

    .closed {
        background-image: url(assets/images/icon_closed.svg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 2.5rem auto;           
    } 

    .opened {
        background-image: url(assets/images/icon_opened.svg); 
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 2.5rem auto;              
    }
    
    .closed + .answer {
        display: none;
    }

    .opened + .answer {
        display: block;
    }

    .answer {

        margin: 19px 0 0 0;

        &-title ,
        &-content {
                font-size: 1.6rem;
                color: #4d5156;
        }

        &-content {
            margin: 19px 0 29px 0;
        }            
    }

    .recommended-page {
        display: flex;
        justify-content: flex-start;

        &__favicon {
            width: 29px;
            height: 29px;
            display: flex;
            justify-content: center;
            border: 1px solid var.$light-theme_button-light-border;
            border-radius: 29px;
            overflow: hidden;
            margin: 0 11px 0 0;


            img {
                width: 40px;
                height: auto;
                align-self: center;
            }
        }

        &__container__title {
            font-size: 1.4rem;
            line-height: 1.8rem;
            color: #202124;
        }

        &__container__breadcrump {
            font-size: 1.2rem;
            color: #4d5156;
        }
                        
    }

    .recommended-page__link {
        margin: 7px 0 0 0;
        font-size: 2rem;
        color: #1A0DAB;

        a:link,
        a:active,
        a:visited {
            text-decoration: none;
        }

        a:hover,
        a:focus {
            text-decoration: underline;
        }
    } 

}

/*
 TOP STORIES
*/

.search-results-container--top-stories {
    margin: 0 0 57px 0;
}

.top-stories__title {
    display: flex;
    justify-content: flex-start;
    height: 22px;
    font-size: 2.2rem;    

    svg {
        margin: 0 11px 0 0;
    }
}

.top-stories__story-list ul {
    margin: 29px 0 0 0;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
}

.top-stories__story-list ul li {
    padding: 10px 10px 10px 0;
    width: calc(100% - 10px);
    display: flex;   
    justify-content: space-between; 
    border-top: 1px solid var.$light-theme_button-light-border;
    border-right: 1px solid var.$light-theme_button-light-border;
}
.top-stories__story-list ul li:nth-child(even) {
    border-right: 1px solid white; 
    padding: 10px;
    width: calc(100% - 20px);
}


.the-story {
    width: 57%;

    &__src {
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: #202124;
    }

    &__heading {
        margin: 7px 0;
        font-size: 1.6rem;
        color: #1A0DAB;
    }

    &__published {
        font-size: 1.4rem;
        color: #70757A;
    }
}

.story_01 .the-story_-src {
    background-image: url(assets/images/fav_cnn.png);
    background-repeat: no-repeat;
    background-position:  left center;
    background-size: 14px auto;
    padding: 0 0 0 20px;
}

.story_02 .the-story_-src {
    background-image: url(assets/images/fav_harvard-crimson.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 14px auto;
    padding: 0 0 0 21px;
}

.story_03 .the-story_-src {
    background-image: url(assets/images/fav_harvard.png);
    background-repeat: no-repeat;
    background-position:  left center;
    background-size: 14px auto;
    padding: 0 0 0 21px;
}

.story_04 .the-story_-src {
    background-image: url(assets/images/fav_ny-post.png);
    background-repeat: no-repeat;
    background-position:  left center;
    background-size: auto 13px;
    width: 100%;
    height: 13px;    
}


.the-story__img {
    display: flex;
    justify-content: flex-end;

    img {
        width: 92px;
        height: 92px;
        border-radius: 7px;
    }
}

.more-top-stories {
    margin: 19px 0 0 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 300px;
        height: 30px;
        background-color: #dadce0;
        border-radius: 18px;

        p {
            font-size: 1.4rem;
            background-image: url(assets/images/icon_go.svg);
            background-repeat: no-repeat;
            background-position: right center;
            padding: 0 21px 0 0;
        }
    }
}

.more-top-stories__button:hover,
.more-top-stories__button:focus {
    background-color: #c5c5c5;
    cursor: pointer;
}

hr {
    background-color: #dadce0;
    height: 1px;
    border: 0;
    position: relative;
    margin-top: -16px;
    z-index: -1;
}


/* MORE SEARCH RESULTS */

.search-results-container--more-results {
    margin: 0 0 57px 0;;
}

.result {
    display: flex;
    justify-content: space-between;
}

.preview__website-shortlink__page {
    display: flex;
    flex-direction: column;
}

.result__website-shortlink {
    display: flex;
}

.website-shortlink__website-info {
    display: flex;
    flex-direction: column;
}

.website-shortlink__fav {
    width: 23px;
    height: 23px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ecedef;
    background-color: #f1f3f4;
    overflow: hidden;
    margin: 0 7px 0 0;

    img {
        width: 14px;
        height: 14px;
    }
}


.website-shortlink__name{
    font-size: 1.4rem;
    color: #202124;
    margin: 0 0 3px 0;
}

.website-shortlink__breadcrump {
    font-size: 1.2rem;
    color: #4d5156;
    margin: 0 0 7px 0;
}

.page__title {
    color: #1A0DAB;
    font-size: 2rem;
    margin: 0 0 3px 0;
}

.page__decsription {
    color: #4d5156;
    font-size: 1.4rem;
    line-height: 1.9rem;
    width: 90%;
}

.result__website-image img {
    border-radius: 9px;
}



@media only screen and (max-width: 1024px)  {

    .search-results .search-and-settings {
        display: grid;
        height: 151px;
        grid-template-columns: repeat(2, 1fr 3fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "logo account account account"
        "search search search search";
    }
    
    .search-results  .search-and-settings__google-logo {
            grid-area: logo;
            order: 1;

    }

    .search-results .search-and-settings__google-account {
            grid-area: account;
            order: 2;

            ul li:last-of-type {
                padding-right: 0;
            }
    }       

    .search-results .search-and-settings__google-search {
        grid-area: search;
        display: flex;
        order: 3;
        padding: 0;
        margin: 19px 0 0 0;

        form.google-search__main-search {
            padding: 0;
            align-self: flex-start;
            width: 100%;

            fieldset {
                justify-content: flex-start;
            }
        }        
    }

    .filter-search-results {
        padding: 0;
        overflow: visible;
    }

    .filter {
        margin-bottom: 7px;
    }

    .search-results-info {
        padding: 0 0 0 21px;
    }    
    
    .search-results-container  {
        flex-direction: column;
        margin: 0;
        padding: 29px 0 0 21px;

        main,
        aside {
            width: 100%;
        }

        aside {
            margin: 37px 0 0 0;
        }
    }

    /* Top stories */
    .top-stories__story-list ul {
        display: flex;
        flex-direction: column;
    }    
    
}
/* PAGE FOOTER */