/* 
COLOURS
*/

/* colors light theme */
$light-theme_background-color: #fff;
$light-theme_background-color-contrast: #f2f2f2;
$light-theme_text-general: rgba(0,0,0,.87);
$light-theme_text-button: #3c4043;
$light-theme_text-on-contrast-background: #70757a;

/* buttons light theme */
$light-theme_button-background-color: #f8f9fa;
$light-theme_button-border-color: #f8f9fa;
$light-theme_button_google-account: #1a73e8;
$light-theme_button-text_google-account: #fff;
$light-theme_button-light-border: #eae7e7;
$light-theme_button-light-color: #f8f9fa;

/* generel vars */
$button-border-radius: 4px;
$search-border-radius: 24px;

/* forms */
$border-color: #dfe1e5;

/* search results */
$text_color_link: #1a0dab;


/*
ICONS
*/
