@use './vars' as var;
@use './forms';
/* Pages */
@use './search-home';
@use './search-results';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

/* 
RESET 
*/
html, body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, fieldset, legend, label, input, button {
    margin: 0;
    padding: 0;
}

ul li, ol li, dl dt, dl dd {
    list-style: none;
    list-style-type: none;
    list-style-image: none;
}

/* 
GRID 
*/

.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*
PAGE HEADER
*/

.page-header {
    display: flex;
}




.page-header a,
.page-header a:link,
.page-header a:hover,
.page-header a:active,
.page-header a:visited {
    color: var.$light-theme_text-general;
    text-decoration: none;
}

.page-header a:hover,
.page-header a:focus {
    color: var.$light-theme_text-general;
    text-decoration: underline;
}

.page-header ul {
    display: flex;
    justify-content: right;
}

.page-header ul li {
    padding: 15px;
    height: 37px;
    line-height: 37px;
    font-size: 1.4rem;
}

.page-header ul li.apps {
    padding: 15px 0 15px 7px;
}

.page-header ul li.apps span {
    display: none;
}

.page-header ul li.apps a {
    background-image: url(assets/images/icon_applications.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center center;
    width: 37px;
    height: 37px;
    display: block;
    border-radius: 37px;
}

.page-header ul li.apps a:hover,
.page-header ul li.apps a:focus {
    background-color: var.$light-theme_background-color-contrast;
}

.btn--sign-in {
    padding: 9px 15px;
    background-color: var.$light-theme_button_google-account;
    color: var.$light-theme_button-text_google-account;
    border-radius: var.$button-border-radius;
    font-weight: bold;
}

a.btn--sign-in:link,
a.btn--sign-in:active,
a.btn--sign-in:visited {
    color: var.$light-theme_button-text_google-account;
    text-decoration: none;
}

a.btn--sign-in:hover,
a.btn--sign-in:visited {
    color: var.$light-theme_button-text_google-account;
    text-decoration: underline;
}


/* 
PAGE MAIN
*/

.page-main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-main__header {
    height: 47%;
}

.page-main__footer {
    height: 3%;  
}

.page-main__header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.page-main__header img {
    width: 272px;
    height: auto;
}

.page-main__header h1.bilder a::after {
    content: "Bilder";
    font-family:'Roboto', sans-serif;
    font-size: 1.6rem;   
    color: var.$light-theme_button_google-account; 
    text-decoration: none;
    font-weight: normal;
    border: none ;
    display: inline-block;
    position: relative;
    left: -57px;
}

.page-main__container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


@media only screen and (min-width: 730px) {

    .page-footer {
        margin: 45px 0 0 0;
    }

    .page-footer__info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}





