@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* 
COLOURS
*/
/* colors light theme */
/* buttons light theme */
/* generel vars */
/* forms */
/* search results */
/*
ICONS
*/
/*
FORM MAIN SEARCH
*/
form.google-search__main-search {
  width: 90%;
  max-width: 584px;
}
form.google-search__main-search fieldset {
  max-width: 584px;
  height: 48px;
  display: flex;
  justify-content: center;
  border: none;
}
form.google-search__main-search fieldset.main-search-input {
  border-radius: 24px;
  border: 1px solid #dfe1e5;
}
form.google-search__main-search fieldset.main-search-input:hover, form.google-search__main-search fieldset.main-search-input:focus {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
form.google-search__main-search textarea {
  border: none;
  display: flex;
  resize: none;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-family: Arial, sans-serif;
  background-color: transparent;
  width: 100%;
  vertical-align: middle;
  overflow-y: hidden;
  padding: 13px;
}
form.google-search__main-search .center-container {
  margin: 18px 0 0 0;
  width: auto;
  display: flex;
  justify-content: space-between;
}
form.google-search__main-search input.start-search {
  border-radius: 4px;
  padding: 5px 16px;
  margin: 11px 4px;
  min-width: 54px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 2px solid #f8f9fa;
}
form.google-search__main-search input.start-search:hover,
form.google-search__main-search input.start-search:focus {
  border: 2px solid #eae7e7;
}

.icon-search {
  fill: #9aa0a6;
  width: 30px;
  height: 30px;
  margin: 14px 0 0 12px;
}

.icon-camera,
.icon-microphone {
  margin: 10px 14px 0 0;
  width: 32px;
  height: 32px;
}

/* 
ADVANCED SEARCH
*/
/* Pages */
/* PAGE HEADER */
.search-home .page-header {
  justify-content: right;
}

/* PAGE MAIN */
.search-home form.google-search__main-search {
  margin: 20px auto;
}

/*  PAGE FOOTER */
.search-home .page-footer {
  background-color: #f2f2f2;
}

.search-home .page-footer p,
.search-home .page-footer ul li {
  font-size: 1.5rem;
  color: #70757a;
}

.search-home .page-footer ul {
  display: flex;
}

.search-home .page-footer a,
.search-home .page-footer a:link,
.search-home .page-footer a:hover,
.search-home .page-footer a:active,
.search-home .page-footer a:visited {
  color: #70757a;
  text-decoration: none;
}

.search-home .page-footer a:hover,
.search-home .page-footer a:focus {
  color: #70757a;
  text-decoration: underline;
}

.search-home .page-footer__country {
  border-bottom: 1px solid #dadce0;
  padding: 15px 30px;
}

.search-home .page-footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-home .page-footer__clima-neutral,
.search-home .page-footer__info__company-solutions,
.search-home .page-footer__info__privacy-settings {
  display: flex;
  justify-content: center;
}

.search-home .page-footer__clima-neutral p {
  padding: 15px 0;
}

.search-home .page-footer__clima-neutral p a {
  background-image: url(assets/images/icon_clima-neutral.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15px auto;
  padding: 0 0 0 21px;
}

.search-home .page-footer__info__company-solutions ul li,
.search-home .page-footer__info__privacy-settings ul li {
  padding: 15px;
}

.search-results .page-container {
  justify-content: flex-start;
}

/*  PAGE HEADER */
.search-results .page-header {
  flex-direction: column;
  justify-content: flex-start;
  padding: 21px;
  border-bottom: 1px solid #dfe1e5;
}

.search-results .search-and-settings {
  display: flex;
  height: 52px;
}
.search-results .search-and-settings__google-logo {
  width: 92px;
  height: 30px;
  align-self: center;
}
.search-results .search-and-settings__google-logo img {
  width: 92px;
  height: auto;
}
.search-results .search-and-settings__google-search {
  flex: 1;
  padding: 0 0 0 37px;
}
.search-results .search-and-settings__google-search form.google-search__main-search {
  align-self: center;
}
.search-results .search-and-settings__google-search form.google-search__main-search fieldset {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.search-results .search-and-settings__google-account {
  align-self: center;
}

.filter-search-results {
  height: auto;
  margin: 19px 0 0 0;
  padding: 0 0 0 129px;
  display: flex;
  flex-wrap: wrap;
}

.filter {
  border-radius: 24px;
  padding: 10px 14px;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  border: 1px solid #dadce0;
  margin: 0 7px 0 0;
}

.filter p {
  align-self: center;
  white-space: nowrap;
}

.filter p a,
.filter p a:link,
.filter p a:active,
.filter p a:visited,
.filter p a:hover,
.filter p a:focus {
  text-decoration: none;
}

.filter:hover,
.filter:focus {
  background-color: #f2f2f2;
}

/* PAGE BODY */
.page-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search-results-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4rem;
  height: 6rem;
  margin: 19px 0 0 0;
  padding: 0 0 0 142px;
  color: #70757a;
}

.search-results-info p.search-results-info__area::before {
  content: "●";
  padding: 0 7px 0 0;
  color: #1a73e8;
}

.search-results-info p strong {
  color: rgba(0, 0, 0, 0.87);
}

.search-results-info p a {
  color: #1a0dab;
}

.search-results-info p a,
.search-results-info p a:link,
.search-results-info p a:hover,
.search-results-info p a:active,
.search-results-info p a:visited {
  text-decoration: none;
}

.search-results-info p a:hover,
.search-results-info p a:focus {
  text-decoration: underline;
}

.search-results-container {
  width: calc(100% - 143px);
  margin: 29px 0 0 143px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-results-container main {
  width: 50%;
}
.search-results-container aside {
  width: 40%;
}

/* PAGE MAIN */
.search-results-container--top-result header {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
}
.search-results-container--top-result header .search-results-container--top-result--favicon {
  border: 1px solid #eae7e7;
  height: 31px;
  width: 37px;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-results-container--top-result header .search-results-container--top-result--favicon img {
  width: 29px;
  height: 29px;
}
.search-results-container--top-result header h1 {
  margin: 0 0 0 11px;
  font-size: 1.4rem;
  font-weight: normal;
}
.search-results-container--top-result header h1 span {
  font-size: 1.2rem;
}
.search-results-container--top-result header h1 span a,
.search-results-container--top-result header h1 span a:link,
.search-results-container--top-result header h1 span a:active,
.search-results-container--top-result header h1 span a:visited,
.search-results-container--top-result header h1 span a:active,
.search-results-container--top-result header h1 span a:hover,
.search-results-container--top-result header h1 span a:focus {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-weight: normal;
}

.top-result {
  margin: 7px 0 0 0;
}
.top-result__title {
  font-size: 2rem;
  margin: 0 0 3px 0;
}
.top-result__title a,
.top-result__title a:visited,
.top-result__title a:active {
  text-decoration: none;
  color: #1a0dab;
}
.top-result__title :hover,
.top-result__title :focus {
  text-decoration: underline;
  color: #1a0dab;
}
.top-result__subtitle {
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #4d5156;
}
.top-result dd {
  margin: 19px 0 0 0;
  padding: 0 0 0 13px;
}
.top-result form {
  width: 100%;
}
.top-result form fieldset {
  border: 1px solid #d9d9d9;
  height: 2.7rem;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-result form fieldset label {
  font-size: 1.2rem;
  line-height: 2.7rem;
  margin: 0 0 0 7px;
  color: #4d5156;
}
.top-result form fieldset input[type=text] {
  width: 75%;
  line-height: 2.55rem;
  border: none;
  margin: 0 0 0 7px;
}
.top-result form fieldset input[type=text]:focus {
  border: none;
  background: none;
  outline: none;
}
.top-result form fieldset button.search-in-results {
  background-image: url(assets/images/icon_search.svg);
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  background-position: center center;
  width: 6rem;
  height: 2.6rem;
  border-left: 1px solid #d9d9d9;
  border-right: none;
  border-top: none;
  border-bottom: none;
  background-color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.top-result form fieldset button.search-in-results span {
  display: none;
}
.top-result form fieldset button.search-in-results:hover,
.top-result form fieldset button.search-in-results:focus {
  background-color: #d9d9d9;
  cursor: pointer;
}

.search-results-container--people-asked {
  margin: 57px 0 57px 0;
}
.search-results-container--people-asked dl {
  width: 100%;
}
.search-results-container--people-asked dt {
  color: #202124;
  font-size: 2.2rem;
  margin: 0 0 10px 0;
}
.search-results-container--people-asked dd {
  padding: 15px 0 15px 0;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.search-results-container--people-asked .question {
  font-size: 1.6rem;
  color: #4d5156;
  cursor: pointer;
}
.search-results-container--people-asked .closed {
  background-image: url(assets/images/icon_closed.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2.5rem auto;
}
.search-results-container--people-asked .opened {
  background-image: url(assets/images/icon_opened.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2.5rem auto;
}
.search-results-container--people-asked .closed + .answer {
  display: none;
}
.search-results-container--people-asked .opened + .answer {
  display: block;
}
.search-results-container--people-asked .answer {
  margin: 19px 0 0 0;
}
.search-results-container--people-asked .answer-title, .search-results-container--people-asked .answer-content {
  font-size: 1.6rem;
  color: #4d5156;
}
.search-results-container--people-asked .answer-content {
  margin: 19px 0 29px 0;
}
.search-results-container--people-asked .recommended-page {
  display: flex;
  justify-content: flex-start;
}
.search-results-container--people-asked .recommended-page__favicon {
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  border: 1px solid #eae7e7;
  border-radius: 29px;
  overflow: hidden;
  margin: 0 11px 0 0;
}
.search-results-container--people-asked .recommended-page__favicon img {
  width: 40px;
  height: auto;
  align-self: center;
}
.search-results-container--people-asked .recommended-page__container__title {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #202124;
}
.search-results-container--people-asked .recommended-page__container__breadcrump {
  font-size: 1.2rem;
  color: #4d5156;
}
.search-results-container--people-asked .recommended-page__link {
  margin: 7px 0 0 0;
  font-size: 2rem;
  color: #1A0DAB;
}
.search-results-container--people-asked .recommended-page__link a:link,
.search-results-container--people-asked .recommended-page__link a:active,
.search-results-container--people-asked .recommended-page__link a:visited {
  text-decoration: none;
}
.search-results-container--people-asked .recommended-page__link a:hover,
.search-results-container--people-asked .recommended-page__link a:focus {
  text-decoration: underline;
}

/*
 TOP STORIES
*/
.search-results-container--top-stories {
  margin: 0 0 87px 0;
}

.top-stories__title {
  display: flex;
  justify-content: flex-start;
  height: 22px;
  font-size: 2.2rem;
}
.top-stories__title svg {
  margin: 0 11px 0 0;
}

.top-stories__story-list ul {
  margin: 29px 0 0 0;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
}

.top-stories__story-list ul li {
  padding: 10px 10px 10px 0;
  width: calc(100% - 10px);
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eae7e7;
  border-right: 1px solid #eae7e7;
}

.top-stories__story-list ul li:nth-child(even) {
  border-right: 1px solid white;
  padding: 10px;
  width: calc(100% - 20px);
}

.the-story {
  width: 57%;
}
.the-story__src {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #202124;
}
.the-story__heading {
  margin: 7px 0;
  font-size: 1.6rem;
  color: #1A0DAB;
}
.the-story__published {
  font-size: 1.4rem;
  color: #70757A;
}

.story_01 .the-story_-src {
  background-image: url(assets/images/fav_cnn.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px auto;
  padding: 0 0 0 20px;
}

.story_02 .the-story_-src {
  background-image: url(assets/images/fav_harvard-crimson.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px auto;
  padding: 0 0 0 21px;
}

.story_03 .the-story_-src {
  background-image: url(assets/images/fav_harvard.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px auto;
  padding: 0 0 0 21px;
}

.story_04 .the-story_-src {
  background-image: url(assets/images/fav_ny-post.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 13px;
  width: 100%;
  height: 13px;
}

.the-story__img {
  display: flex;
  justify-content: flex-end;
}
.the-story__img img {
  width: 92px;
  height: 92px;
  border-radius: 7px;
}

.more-top-stories {
  margin: 19px 0 0 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-top-stories__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 30px;
  background-color: #dadce0;
  border-radius: 18px;
}
.more-top-stories__button p {
  font-size: 1.4rem;
  background-image: url(assets/images/icon_go.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 0 21px 0 0;
}

.more-top-stories__button:hover,
.more-top-stories__button:focus {
  background-color: #c5c5c5;
  cursor: pointer;
}

hr {
  background-color: #dadce0;
  height: 1px;
  border: 0;
  position: relative;
  margin-top: -16px;
  z-index: -1;
}

/* MORE SEARCH RESULTS */
.search-results-container--more-results {
  margin: 0 0 57px 0;
}

.result {
  margin: 0 0 41px 0;
  display: flex;
  justify-content: space-between;
}

.preview__website-shortlink__page {
  display: flex;
  flex-direction: column;
}

.result__website-shortlink {
  display: flex;
}

.website-shortlink__website-info {
  display: flex;
  flex-direction: column;
}

.website-shortlink__fav {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ecedef;
  background-color: #f1f3f4;
  overflow: hidden;
  margin: 0 7px 0 0;
}
.website-shortlink__fav img {
  width: 14px;
  height: 14px;
}

.website-shortlink__name {
  font-size: 1.4rem;
  color: #202124;
  margin: 0 0 3px 0;
}

.website-shortlink__breadcrump {
  font-size: 1.2rem;
  color: #4d5156;
  margin: 0 0 7px 0;
}

.page__title {
  color: #1A0DAB;
  font-size: 2rem;
  margin: 0 0 3px 0;
}

.page__decsription {
  color: #4d5156;
  font-size: 1.4rem;
  line-height: 1.9rem;
  width: 90%;
}

.result__website-image img {
  border-radius: 9px;
}

/*
    PAGE ASIDE 
*/
aside {
  padding: 0 37px 0 0;
}

@media only screen and (max-width: 1024px) {
  .search-results .search-and-settings {
    display: grid;
    height: 151px;
    grid-template-columns: repeat(2, 1fr 3fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "logo account account account" "search search search search";
  }
  .search-results .search-and-settings__google-logo {
    grid-area: logo;
    order: 1;
  }
  .search-results .search-and-settings__google-account {
    grid-area: account;
    order: 2;
  }
  .search-results .search-and-settings__google-account ul li:last-of-type {
    padding-right: 0;
  }
  .search-results .search-and-settings__google-search {
    grid-area: search;
    display: flex;
    order: 3;
    padding: 0;
    margin: 19px 0 0 0;
  }
  .search-results .search-and-settings__google-search form.google-search__main-search {
    padding: 0;
    align-self: flex-start;
    width: 100%;
  }
  .search-results .search-and-settings__google-search form.google-search__main-search fieldset {
    justify-content: flex-start;
  }
  .filter-search-results {
    padding: 0;
    overflow: visible;
  }
  .filter {
    margin-bottom: 7px;
  }
  .search-results-info {
    padding: 0 0 0 21px;
  }
  .search-results-container {
    flex-direction: column;
    margin: 0;
    padding: 29px 0 0 21px;
    width: calc(100% - 58px);
  }
  .search-results-container main,
  .search-results-container aside {
    width: 100%;
  }
  .search-results-container aside {
    margin: 37px 0 0 0;
  }
  /* Top stories */
  .top-stories__story-list ul {
    display: flex;
    flex-direction: column;
  }
  .top-stories__story-list ul li {
    padding: 10px 10px 10px 0;
    width: calc(100% - 10px);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eae7e7;
    border-right: 0;
  }
  .top-stories__story-list ul li:nth-child(even) {
    padding: 10px 10px 10px 0;
    width: calc(100% - 10px);
  }
  /* More results */
  .result__website-image {
    display: none;
  }
  .page__decsription {
    width: 100%;
  }
}
/* PAGE FOOTER */
.page-footer.advanced-search .page-footer__country {
  padding: 15px 60px;
}

.page-footer.advanced-search .page-footer__info__privacy-settings {
  justify-content: flex-start;
}

.page-footer.advanced-search .page-footer__info__privacy-settings ul {
  margin: 0 0 0 45px;
}

/*
form
*/
form.advanced-search {
  width: 81%;
  height: 300px;
  margin: 0 0 0 60px;
}

form.advanced-search,
form.advanced-search fieldset,
form.advanced-search fieldset label {
  border: none;
}

legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form.advanced-search fieldset legend .legend_title {
  color: #333;
  font-size: 1.6rem;
  width: 17%;
  padding: 0 0 15px 0;
}

form.advanced-search fieldset legend span.title_info-col {
  width: 33%;
  color: #777;
  font-size: 1.3rem;
  font-weight: bold;
}

.fieldset-row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 11px 0;
}

.fieldset-row label {
  width: 170px;
}

.fieldset-row .searchfield-description {
  width: 33%;
}

.fieldset-row input {
  width: 47%;
  height: 25px;
  border: 1px solid #d9d9d9;
}

.fieldset-row label,
.fieldset-row .searchfield-description {
  color: #222;
  font-size: 1.3rem;
  height: 25px;
  line-height: 2.5rem;
  vertical-align: middle;
}

.fieldset-row .searchfield-description {
  font-size: 1.1rem;
}

.fieldset-row .searchfield-description span {
  font-family: monospace;
}

@media only screen and (max-width: 1024px) {
  form.advanced-search {
    padding: 0;
    width: calc(100% - 120px);
  }
  form.advanced-search fieldset legend .legend_title,
  .fieldset-row label {
    width: 170px;
  }
  .fieldset-row .searchfield-description,
  form.advanced-search fieldset legend span.title_info-col {
    display: none;
  }
  .fieldset-row {
    justify-content: flex-start;
  }
  .fieldset-row input {
    width: calc(100% - 170px);
  }
}
html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

/* 
RESET 
*/
html, body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, fieldset, legend, label, input, button {
  margin: 0;
  padding: 0;
}

ul li, ol li, dl dt, dl dd {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

/* 
GRID 
*/
.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
PAGE HEADER
*/
.page-header {
  display: flex;
}

.page-header a,
.page-header a:link,
.page-header a:hover,
.page-header a:active,
.page-header a:visited {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.page-header a:hover,
.page-header a:focus {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: underline;
}

.page-header ul {
  display: flex;
  justify-content: right;
}

.page-header ul li {
  padding: 15px;
  height: 37px;
  line-height: 37px;
  font-size: 1.4rem;
}

.page-header ul li.apps {
  padding: 15px 0 15px 7px;
}

.page-header ul li.apps span,
.page-header ul li.settings span {
  display: none;
}

.page-header ul li.apps a {
  background-image: url(assets/images/icon_applications.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  width: 37px;
  height: 37px;
  display: block;
  border-radius: 37px;
}

.page-header ul li.settings a {
  background-image: url(assets/images/icon-settings.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  width: 37px;
  height: 37px;
  display: block;
  border-radius: 37px;
}

.page-header ul li.apps a:hover,
.page-header ul li.apps a:focus,
.page-header ul li.settings a:hover,
.page-header ul li.settings a:focus {
  background-color: #f2f2f2;
}

.btn--sign-in {
  padding: 9px 15px;
  background-color: #1a73e8;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}

a.btn--sign-in:link,
a.btn--sign-in:active,
a.btn--sign-in:visited {
  color: #fff;
  text-decoration: none;
}

a.btn--sign-in:hover,
a.btn--sign-in:visited {
  color: #fff;
  text-decoration: underline;
}

/* 
PAGE MAIN
*/
.page-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-main__header {
  height: 47%;
}

.page-main__footer {
  height: 3%;
}

.page-main__header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.page-main__header img {
  width: 272px;
  height: auto;
}

.page-main__header h1.bilder a::after {
  content: "Bilder";
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #1a73e8;
  text-decoration: none;
  font-weight: normal;
  border: none;
  display: inline-block;
  position: relative;
  left: -57px;
}

.page-main__container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (max-width: 730px) {
  .page-footer {
    margin: 45px 0 0 0;
  }
  .page-footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
