html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

/* 
RESET 
*/
html, body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, fieldset, legend, label, input, button {
  margin: 0;
  padding: 0;
}

ul li, ol li, dl dt, dl dd {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

/* 
VARS 
*/
/* colors light theme */
/* buttons light theme */
/* generel vars */
/* 
GRID 
*/
.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
PAGE HEADER
*/
.page-header {
  display: flex;
  justify-content: right;
}

.page-header a,
.page-header a:link,
.page-header a:hover,
.page-header a:active,
.page-header a:visited {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.page-header a:hover,
.page-header a:focus {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: underline;
}

.page-header ul {
  display: flex;
  justify-content: right;
}

.page-header ul li {
  padding: 15px;
  height: 37px;
  line-height: 37px;
  font-size: 1.4rem;
}

.page-header ul li.apps {
  padding: 15px 0 15px 7px;
}

.page-header ul li.apps span {
  display: none;
}

.page-header ul li.apps a {
  background-image: url(assets/images/icon_applications.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  width: 37px;
  height: 37px;
  display: block;
  border-radius: 37px;
}

.page-header ul li.apps a svg {
  filter: invert(40%) sepia(10%) saturate(237%) hue-rotate(174deg) brightness(92%) contrast(90%);
}

.page-header ul li.apps a:hover,
.page-header ul li.apps a:focus {
  background-color: #f2f2f2;
}

.btn--sign-in {
  padding: 9px 15px;
  background-color: #1a73e8;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}

a.btn--sign-in:link,
a.btn--sign-in:active,
a.btn--sign-in:visited {
  color: #fff;
  text-decoration: none;
}

a.btn--sign-in:hover,
a.btn--sign-in:visited {
  color: #fff;
  text-decoration: underline;
}

/* 
PAGE MAIN
*/
/*
PAGE FOOTER
*/
.page-footer {
  background-color: #f2f2f2;
}

.page-footer p,
.page-footer ul li {
  font-size: 1.5rem;
  color: #70757a;
}

.page-footer ul {
  display: flex;
}

.page-footer a,
.page-footer a:link,
.page-footer a:hover,
.page-footer a:active,
.page-footer a:visited {
  color: #70757a;
  text-decoration: none;
}

.page-footer a:hover,
.page-footer a:focus {
  color: #70757a;
  text-decoration: underline;
}

.page-footer__country {
  border-bottom: 1px solid #dadce0;
  padding: 15px 30px;
}

.page-footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer__clima-neutral,
.page-footer__info__company-solutions,
.page-footer__info__privacy-settings {
  display: flex;
  justify-content: center;
}

.page-footer__clima-neutral p {
  padding: 15px 0;
}

.page-footer__clima-neutral p a {
  background-image: url(assets/images/icon_clima-neutral.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15px auto;
  padding: 0 0 0 21px;
}

.page-footer__info__company-solutions ul li,
.page-footer__info__privacy-settings ul li {
  padding: 15px;
}

@media only screen and (min-width: 730px) {
  .page-footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
